<!-- 4 paste this html -->

<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
   <!-- 3 include the partial -->
   <%- include('./partials/nav.ejs') %>
<!-- 3... then run the local host! -->
<!-- we can't use the equal sign because it will serve up a string, so we use a minus sign instead  -->
<!-- 4. replace the nav in every ejs file -->
<!-- 5. take the head from the header and put it in the header.ejs file -->
<!-- 6. include the head in about, create, and 404 -->
<!-- 7. code out the footer.ejs -->
<!-- 8. put footer.ejs in all your views. -->
  
    <div class="blogs content">
     
        <h2>All Blogs</h2>
        <% if (blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>
                <h3 class="title"><%= blog.title %></h3>
                <p class="snippet"><%= blog.snippet %></p>
            <% }) %>

        <% } else {  %>

            <p>there are no blogs to display</p>
        <% } %>

    </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>